In [1]:
import boto3
from botocore.exceptions import NoCredentialsError
import psycopg2
import pandas as pd
import io
from tqdm import tqdm
from multiprocessing import Pool
import os

In [2]:
REGION = 'us-east-1'
ACCESS_KEY = 'AKIA5J7L673RXVMIVPZR'
SECRET_KEY = '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'
BUCKET_NAME = 'instacart-1'
KEY = 'Order_Product.csv' # file path in S3

In [3]:
s3c = boto3.client('s3', region_name = REGION, aws_access_key_id = ACCESS_KEY, aws_secret_access_key = SECRET_KEY)

In [4]:
obj = s3c.get_object(Bucket= BUCKET_NAME , Key = KEY)

In [5]:
data = obj['Body'].read().decode('utf-8')

In [6]:
data = data.split("\n")

In [7]:
conn = None

In [8]:
table_name = KEY.split('.')

In [9]:
insert_query = "Insert into " + str(table_name[0]) + " values "

In [10]:
queries = []

In [11]:
final_query = ""
for j in tqdm(range(len(data))):
    if j == 0:
        continue

    val = data[j]
    val = val.replace("\n","").split(",")
    val[-1] = int(float(val[-1]))
    val[-2] = int(float(val[-2]))

    if val == [] or val == None or val == ['']:
        continue

    value = "("
    for i in range(len(val)): 
        temp = str(val[i])
        if "'" in temp:
            temp = temp.replace("'", "")
        if '"' in temp:
            temp = temp.replace('"', "")
        if '\\' in temp:
            temp = temp.replace('\\', "")
        value = value +"'"+temp+"'"

        if i != len(val)-1:
            value += ','
        else:
            value += ')'


    final_query = insert_query + value
    queries.append(final_query)

100%|██████████| 2156/2156 [00:00<00:00, 119525.22it/s]

In [12]:
len(queries)

2155

In [13]:
try:
    conn = psycopg2.connect(dbname='dev',host='redshift-cluster-1.ceopdeohmgfe.us-east-1.redshift.amazonaws.com',port=5439,user='admin',password='08021994Feb')
except pymysql.MySQLError as e:
    print("ERROR: Unexpected error: Could not connect to MySQL instance.")

In [18]:
try:
    cur = conn.cursor()
    if KEY == 'aisles.csv':
        cur.execute("create table aisles ( aisles_id INT NOT NULL, aisles varchar(255) NOT NULL, PRIMARY KEY (aisles_id))")
    elif KEY == 'departments.csv':
        cur.execute("create table departments ( department_id INT NOT NULL, department varchar(255) NOT NULL, PRIMARY KEY (department_id))")
    elif KEY == 'order_products.csv':
        cur.execute("create table order_products ( order_id INT NOT NULL, product_id INT NOT NULL, add_to_cart_order INT NOT NULL, PRIMARY KEY (order_id, product_id), Foreign Key (product_id) References products(product_id), Foreign Key (order_id) References orders(order_id))")
    elif KEY == 'orders.csv':
        cur.execute("create table orders ( order_id INT NOT NULL, user_id INT NOT NULL, order_number INT NOT NULL, order_dow INT NOT NULL, order_hour_of_day INT NOT NULL, days_since_prior_order INT NOT NULL, PRIMARY KEY (order_id))")
    elif KEY == 'products.csv':
        cur.execute("create table products ( product_id INT NOT NULL, aisles_id INT NOT NULL, department_id INT NOT NULL, Foreign KEY (aisles_id) References aisles(aisles_id), Foreign KEY (department_id) References departments(department_id) ,PRIMARY KEY (product_id))")
    elif KEY == 'product_names.csv':
        cur.execute("create table product_names ( product_id INT NOT NULL, product_name varchar(255) NOT NULL, Foreign KEY (product_id) References products(product_id), PRIMARY KEY (product_id))")
    elif KEY == 'reordered.csv':
        cur.execute("create table reordered ( order_id INT NOT NULL, product_id INT NOT NULL, reordered INT NOT NULL, PRIMARY KEY (order_id, product_id), Foreign Key (product_id) References products(product_id), Foreign Key (order_id) References orders(order_id))")
        
        

    conn.commit()
    conn.close()
except Exception as e:
    print(e)
    pass

In [14]:
def insert_data(query):
    try:
        conn = psycopg2.connect(dbname='dev',host='redshift-cluster-1.ceopdeohmgfe.us-east-1.redshift.amazonaws.com',port=5439,user='admin',password='08021994Feb')
    except Exception as e:
        print(e)
        insert_data(query)
        return -1
    try:
        cur = conn.cursor()
        cur.execute(query)
        conn.commit()
        conn.close()
        return 1
    except Exception as e:
        print(e)
        return 0

In [15]:
# with Pool(50) as p:
#     ans = p.map(insert_data, queries)

In [ ]:
for i in tqdm(range(len(queries))):
    insert_data(queries[i])

 91%|█████████▏| 1967/2155 [09:45<00:49,  3.77it/s]

In [16]:
try:
    conn = psycopg2.connect(dbname='dev',host='redshift-cluster-1.ceopdeohmgfe.us-east-1.redshift.amazonaws.com',port=5439,user='admin',password='08021994Feb')
except pymysql.MySQLError as e:
    print("ERROR: Unexpected error: Could not connect to MySQL instance.")

In [17]:
c = conn.cursor()
c.execute("select count(*) from abc.Order1;")
print(c.fetchall())
conn.close()

[(809,)]